@import url("reset.css");
body {
    font-family: cursive;
    font-size: 2em;
    text-align: center;
    background: deeppink;
    color:white;
    display:flex;

}

img {width:20%;}
    

input[type=text],[type=email],[type=number],[type=date]{
    margin: 20px;
    background-color: white;
    color:black;
}

dl {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

h1,h2,article,dl{padding: 1em;}