@import url("./reset.css");
body {
    font-family: cursive;
    font-size: 2em;
    text-align: center;
    background-color: deeppink;
    color:white;
    display:flexbox;}

img {width:20%;}
    

input[type=text],[type=email],[type=number],[type=date]{
    margin: 20px;
    background-color: white;
    color:black;
}

dl{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

